# Dependency directories
node_modules/
**/node_modules/

# Environment variables / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/desktop.ini

# Production builds
dist/
**/dist/
build/

# Uploaded files
backend/uploads/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
desktop.ini
Thumbs.db
.DS_Store
